<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies</title>
</head>
<body>

  <h1>Your movies</h1>

  <table>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Genre</th>
      <th>Release Date</th>
      <th>Language</th>
      <th>Country</th>
    </tr>
    <tr>
      <td >123</td>
      <td>A great pretender</td>
      <td>Horror</td>
      <td>1988</td>
      <td>ENG</td>
      <td>USA</td>
    </tr>
  </table>

</body>
</html>